 @import url('https://fonts.googleapis.com/css?family=Inconsolata');
 @import url('https://fonts.googleapis.com/css?family=Puritan');
  @import url('https://fonts.googleapis.com/css?family=Vidaloka');
 @import url('https://fonts.googleapis.com/css?family=Playfair|Roboto+Mono:500');

body {
  width: auto;
  font-family: 'Puritan', sans-serif;
  overflow: hidden;
    background: url("../img/abstract-beach-desert-723997.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  position: fixed; 
  top: 0; 
   min-width: 100%;
  min-height: 100%;

}

#body-bg {

}


/*** 
		header 
					***/

#header {
	height: 15vh;

}


.lang {
	position: absolute;
	right: 17px;
	top: 10px;
	color: white;
	font-size: 20px;
}

.lang-mobile
{
	position: absolute;
	right: 17px;
	top: 30px;
	color: white;
	font-size: 20px;
}


.logo {
	margin-top: 18px;
	position: relative;
}

.logo-img{
	height: 100px;
}

.logo-text {
	color: white;
	position: absolute;
	top: 50px;
	left: 110px;
    font-family: 'Puritan', sans-serif;
    font-size: 23px;

}

#headline {
	font-family: 'Playfair Display', serif;	position: absolute;
	bottom: -30PX;
	right: 20px;
    font-size: 320%;
    color: white;
}


/***  
		content squere
						 ***/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
        background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
        background: lightblue; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightblue; 
}

h1, h2 {
	font-family: 'Playfair Display', serif;
}

#sidebar {
	height: 80%
}

#content {
	height: 87vh;
	padding: 20px;

}

.column{
	padding: 10px;
}

#footer {
	height: 80%;
	bottom: 0;
	margin-bottom: -40px;
}

#text-box{
	background-color: white;
	height: 90%;
	width: 100%;
	overflow: scroll;
	padding: 30px 30px 0px 30px;
}

/***
		navigation 
					***/


nav {
	margin-top: 80px;
	margin-left: 45px;
	color: black
}

nav a{
	color: black;
}

nav li {
	cursor: pointer;
}

@media only screen and (min-width: 768px) {

.nav-item:hover {
	animation: rotatediv 0.8s ;
	cursor: pointer;

}

@keyframes rotatediv {
	0% {
		transform: rotate(0deg); 
	}

	50% {
		transform: rotate(-8deg);

	}
	100% {
		transform: rotate(0deg);
	}
}
}





/*
AIzaSyDMcu9V4H8BtEz9ZREhRGOYWUgcLbimIas

/*** 
		mobile 
					***/


@media only screen and (max-width: 600px) {
#header {
		display: none;
}
}


@media only screen and (max-width: 600px) {
.web-visible {
		display: none;
}

#left-column {
margin-top: -70px;
margin-left: -50px;
}
}


@media only screen and (min-width: 768px) {
.mobile-visible {
		display: none;
}
}

.nav-mobile a {
	color: white;
}

.logo-mobile {
	display: inline;
	position: absolute;
	right: -15px;
	top: 80px;

}

.logo-mobile img{
	width: 120px;
	height: auto;
}

.logo-text-m {
	color: white;
	position: absolute;
	top: 10px;
	left: 90px;
    font-family: 'Puritan', sans-serif;
	font-size: 18px;
}



